h1{
	text-align: center;
	font-family: Century Gothic;
	font-size: 30;
}

@font-face {
	font-family: Alata;
	src: url('Alata-Regular.ttf');
}

body{
	font-family: Century Gothic;
}

input{
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid grey;
	color: grey;
}

.links {
	font-family: Alata;
	text-decoration: none;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 35px;
	font-weight: 10;
	transition-duration: 0.5s;
	border-bottom: 1px solid #000000;
}

.links:hover {
	transition-duration: 0.5s;
	border-bottom: 1px solid #000000;
	border-bottom-width: 5px;
}

#titulo_sobre {
	font-family: Alata;
	font-weight: 10;
	font-size: 30px;
}

#cabecalho{
	height: 15%;
	width: 100%;
}

#menu{
	height: 10%;
	width: 100%;
	font-family: Century Gothic;
	font-size: 30;
}

.bordinha{
	border: 3px solid;
	width: 50%;
	background-color: grey; 
}

#kids{
	height: 75%;
	width: 100%;
	
}

#info{
	background-image: url("kids.jpg");
}

#texto{
	margin-left: 5px;
}

#rodape{
	height: 10%;
	width: 100%;
	clear: both;
	color: lightgrey;
	
}

.ei{
	text-align: center;
	font-family: Century Gothic; 
}

#tes{
	position: absolute;
	font-family: Alata;
	font-size: 100px;
	text-align: left;
	top: 40%;
	transform: translate(-50%, -50%);
	left: 15%;
	border-bottom: #000000 4px solid;
}

header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-image: url('_imagens/kids2q.jpg');
	height: 100%;
	background-size: 100%;
}

section {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
}