{% extends 'base.html' %}

{% block titulo %}CADASTRO{% endblock titulo %}

{% block conteudo %}

<div id="cabecalho">
	<a href ="/" ><img src = "../static/_imagens/tit.png"/></a>
</div>

<h1> Cadastre-se </h1>

<center>

	<div class="bordinha">
		
		<div>

			<h3> Insira aqui seus dados: </h3>
			
			<form method="POST">            
		
				{{ form.hidden_tag() }}
	
				{{form.usuario.label}} <br/> {{form.usuario}} <br/>
				{{form.sobrenome.label}} <br/> {{form.sobrenome}} <br/>
				{{form.idade.label}} <br/> {{form.idade}} <br/>
				{{form.email.label}} <br/> {{form.email}} <br/>
				{{form.senha.label}} <br/> {{form.senha}} <br/>
				{{form.rua.label}} <br/> {{form.rua}} <br/>
				{{form.numero.label}} <br/> {{form.numero}} <br/>
				{{form.bairro.label}} <br/> {{form.bairro}} <br/>
				{{form.cep.label}} <br/> {{form.cep}} <br/>
				<br/> {{form.botao}} <br/><br/>
				
			</form>

		</div>

	</div>

</center>
			
</br>
<p class="ei"> Já é cadastrado? Faça <a href ="/login">login.</a> </p>

{% endblock conteudo %} 