{% extends 'base.html' %}

{% block titulo %}LOGIN{% endblock titulo %}

{% block conteudo %}

<div id="cabecalho">
	<a href ="/index" ><img src = "../static/_imagens/tit.png"/></a>		
</div>

</br></br>

<center>

	<div class="bordinha">

		<form method="GET">
		
			<h1> Já é cadastrado? Faça seu login: </h1>
		
			{{form.email.label}} <br/> {{form.email}} <br/>
			{{form.senha.label}} <br/> {{form.senha}} <br/>
			<br/> {{form.botao}} <br/><br/>
		
		</form>
		
	</div> </br>
	
	<p class="ei"> Ou <a href ="/cadastro" target="blank" >cadastre-se.</a></p>

</center>
			
<!-- input type="button" id="showPassword" value="Mostrar" class="button"/ -->

{% endblock conteudo %} 